In [11]:
# Importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from keras.layers import Dropout

# Importing the dataset
df = pd.read_csv('dataset/Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
# drop unnecessary feature

df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [13]:
#Create dummy variables

geography=pd.get_dummies(df["Geography"],drop_first=True)
gender=pd.get_dummies(df['Gender'],drop_first=True)

In [14]:
# Concatenate the Data Frames

df=pd.concat([df,geography,gender],axis=1)

# Drop Unnecessary columns
df=df.drop(['Geography','Gender'],axis=1)

In [15]:
# Dividing dependent and independent variables

X=df.drop('Exited',axis=1)
y=df['Exited']

In [16]:
# Sampling

from imblearn.over_sampling import SMOTE 
from collections import Counter

sampler = SMOTE()
X_res, y_res = sampler.fit_resample(X, y)

print('SMOTE {}'.format(Counter(y_res)))

SMOTE Counter({1: 7963, 0: 7963})

In [17]:
# Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [18]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [21]:
#Create ANN

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform"))
classifier.add(Dropout(0.4))

# Adding the second hidden layer
classifier.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))
classifier.add(Dropout(0.4))

# Adding the output layer
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

# Compiling the ANN
classifier.compile(optimizer = 'adam',loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, validation_split=0.2,batch_size = 10, epochs = 10)

Epoch 1/10

/home/asif/.local/lib/python3.10/site-packages/keras/engine/data_adapter.py:1696: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  return t[start:end]

640/640 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7958 - val_loss: 0.4431 - val_accuracy: 0.7969
Epoch 2/10
640/640 [==============================] - 1s 803us/step - loss: 0.4642 - accuracy: 0.7958 - val_loss: 0.4385 - val_accuracy: 0.7969
Epoch 3/10
640/640 [==============================] - 1s 868us/step - loss: 0.4691 - accuracy: 0.7958 - val_loss: 0.4377 - val_accuracy: 0.7969
Epoch 4/10
640/640 [==============================] - 1s 787us/step - loss: 0.4599 - accuracy: 0.7958 - val_loss: 0.4367 - val_accuracy: 0.7969
Epoch 5/10
640/640 [==============================] - 1s 809us/step - loss: 0.4527 - accuracy: 0.7958 - val_loss: 0.4367 - val_accuracy: 0.7969
Epoch 6/10
640/640 [==============================] - 1s 799us/step - loss: 0.4555 - accuracy: 0.7958 - val_loss: 0.4375 - val_accuracy: 0.7969
Epoch 7/10
640/640 [==============================] - 1s 883us/step - loss: 0.4538 - accuracy: 0.7958 - val_loss: 0.4375 - val_accuracy: 0.7969
Epoch 8/10
640/640 [==============================] - 1s 833us/step - loss: 0.4529 - accuracy: 0.7958 - val_loss: 0.4368 - val_accuracy: 0.7969
Epoch 9/10
640/640 [==============================] - 1s 824us/step - loss: 0.4546 - accuracy: 0.7958 - val_loss: 0.4376 - val_accuracy: 0.7969
Epoch 10/10
640/640 [==============================] - 1s 805us/step - loss: 0.4529 - accuracy: 0.7958 - val_loss: 0.4378 - val_accuracy: 0.7969