In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.feature_selection import SelectKBest, mutual_info_classif

In [13]:
df=pd.read_csv('dataset/Churn_Modelling.csv')

# drop unnecessary feature

df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)


df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [14]:
#Encoding the data
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df=df.apply(le.fit_transform)

In [15]:
# Assuming you have a DataFrame named 'df' with features and target variable
# Replace 'target_column' with the actual name of your target variable
target_column = 'Exited'
X = df.drop(target_column, axis=1)
y = df[target_column]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:


# Use mutual information for feature selection
k_best = SelectKBest(score_func=mutual_info_classif, k=4)  # You can specify the number of features with 'k'
k_best.fit(X_train, y_train)

# Get the selected features
selected_features = X.columns[k_best.get_support()]

# Print the selected features
print("Selected Features:")
print(selected_features)

Selected Features:
Index(['Geography', 'Age', 'NumOfProducts', 'IsActiveMember'], dtype='object')